@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');



footer {
	clear: both; /* POUR NE PAS ETRE INFLUENCE PAR LE FLOAT */ 
	margin-bottom: 0; /* POUR NE PAS ETRE INFLUENCE PAR LE FLOAT */

	background-color: #fde7e1;
	padding: 10px 0 5px 0;
	display: block;
  border-top:1px solid #ecab9e;

	margin-top: auto; /* MISE EN PLACE DU DISPLAY FLEX POUR COLLER LE FOOTER EN BAS DE PAGE QUAND LA PAGE EST COURTE */
}


footer div.container ul.flex-ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
  margin:0;
}

footer div.container ul.flex-ul li {
	font-size: 17px;
}

footer div.container ul.flex-ul li span.url-begin {
  color: #52505e;
}

footer div.container ul.flex-ul li span.url-end {
  color: black;
}

footer div.container p.copyright {
  margin:0;
  text-align:center;
	color: #52505e;
	align-self: flex-end;
}