@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

header.mediascreen {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
  position:absolute;
  width:100%;
  z-index:500;
  font-family: "Permanent Marker", cursive;
}

header.mediascreen > div#visible {
	display: flex;
	flex-direction: row;
  align-items:center;
}
nav#nav {
  flex:1;
}
nav#nav ul {
  display:flex;
  margin:0;
  justify-content: flex-end;
}
nav#nav ul li {
  flex:0.2;
  padding:3vh 3vh;
  text-align:center;
  position:relative;
  transition:0.2s; /* transition for js scroll (not active for now) */
}


nav#nav ul li > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 0px;
    background: var(--white);
    /*z-index: -10; for <a> HTML content to be shown */
}



nav#nav ul li a {
  flex:1;
  color:var(--white);
  font-size:20px;
}

nav#nav ul li:hover > a::before, nav#nav ul li#currentPage:hover > a::before {
  transition:all 0.2s ease;
  height:100%;
  font-size:40px;
  content:'\2193';
}

nav#nav ul li:hover > a {
  color:var(--green);
}

header.mediascreen > div#visible div{
  font-size:16px; /* par defaut */
  flex:0.5;
  padding: 0 2vh;
}
header.mediascreen > div#visible div img {
	width: 50px;
	vertical-align: middle;
}

header.mediascreen > div#visible div span {
	color: var(--white);
	font-size: 150%;
	letter-spacing: 10px;
	vertical-align: middle;
}

header.mediascreen > div#visible div span:nth-child(2) {
	margin-left: 20px;
}

header.mediascreen > div#visible div span:nth-child(3) {
	margin-left: 20px;
}





div#invisible {
  position: fixed;
  width: 100%;
  bottom:0;
  left:0;
  font-family: "Permanent Marker", cursive;
  display:none;
  flex-flow:row wrap;
  background:var(--green);
  width:100%;
  z-index:1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div#invisible > nav {
  width: 100%;
}

div#invisible > nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  align-items: center;
}

div#invisible > nav ul li {
  padding: 10px 0;
  list-style-type: none;
  position: relative;
	font-size: 15px;
  flex:0;
  transition: transform 0.2s ease;
}

div#invisible > nav ul li a {
	color: white;
  transition: transform 0.2s ease;
}

div#invisible > nav ul li:hover {
  transform: scale(1.2);
}

div#invisible > nav ul li.current {
  transform: scale(1.3);
}

@media (max-width: 800px) {
  header.mediascreen {
    display:none;
  }
  div#visible div span {
    display:none;
  }

  nav#nav {
    display:none;
  }

  #welcome-background {
    display:none;
  }

  div#invisible {
    display: flex;
  }
}


#absoluteBackground {
  background-color:var(--white);
  width:100%;
  height:100%;
  position:absolute;
}