@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;700&display=swap');


main {
  padding:0;
  margin:0;
}

div.welcome-image {
	background-image: url("https://cdn.glitch.global/ca48c3f1-3c91-413b-ab92-2ec674cda458/%E2%80%94Pngtree%E2%80%94pink%20playful%20abstract%20portfolio%20memphis_1347369.png?v=1696022296367");
  /* local : url("../img/architecture.jpeg"); */
	background-size: cover;
	/*background-repeat: no-repeat;*/
	/*background-position: left;*/
	background-attachment: fixed;


	height: 100%;
  
  margin:0 !important;  
}

div.welcome-image h1 {
  display:flex;
	font-size: 35px;
  position:relative;
  font-size:80px;
  letter-spacing:5px;
	color: white;
  margin:0;
  width:100%;
  height:100vh;
  justify-content:center;
  text-align:center;
}

div.welcome-image h1::before {
  content: "";position: absolute;left: 50%;top:15%;width: 10px;height: 5%;background: white;
}
div.welcome-image h1::after {
  content: "";position: absolute;left: 50%;bottom:15%;width: 10px;height: 5%;background: white;
}

div.welcome-image h1 div#container-welcome {
  font-weight:700;
  align-self:center;
  
  display:flex;
  align-items:center;
  width:40%;
}

div.welcome-image h1 div#container-welcome-image {
  flex:0.5;
  animation: animatename 1s linear infinite;
  
}

div.welcome-image h1 div#container-welcome-image img {
  width:200px;
  height:200px;
}

div.welcome-image h1 div#container-welcome-text {
  flex:0.5;
  font-size:25px;
  text-align:left;
}


@keyframes animatename{
  0%{
    transform: translateY(500px);
  }
  5%{
    transform: translateY(300px);
  }
}


.body {
  background-color:rgba(240, 240, 240, 1);
  padding-bottom:5%;
  
}


.body .content-title, .body2 .content-title {
	text-align:center;
  margin: 0 20%;
	padding: 10% 5%;
	background-color: white;
  font-size:35px;
}


.body .boxes {
	margin: 0 20%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.body .boxes .box {
	background-color: white;
	flex: 1 0 40%;
	margin: 2%;
	width: 100px;
	height: 100%;
	padding:0;
	

	border-radius: 10px;

	-webkit-box-shadow: 18px 14px 15px -10px #000000; 
  box-shadow: 18px 14px 15px -10px #000000;
}

.body .boxes .box:hover {
  transition:all 0.2s ease;
  transform:scale(1.01);
}

.body .boxes .box:nth-child(2n-1) {
  border-left:10px solid #00CEC9;
}

.body .boxes .box:nth-child(2n) {
  border-left:10px solid #44B78B;
}

.body .boxes .box:nth-child(3n) {
  border-left:10px solid #0097E6;
}

.body .boxes .box h2 {
  text-align:center;
  font-size:25px;
}

.body .boxes .box p {
  text-align:center;
  font-size:17px;
}

.body .boxes .box ul {
  font-size:17px;
  margin:10px;
  padding:0;
  text-align:left;
}



.body .boxes .box ul li {
  margin:0;
  display:inline-block;
  margin-right:10px;
}

.body .boxes .box ul li svg {
  width:7px;
  margin-right:4px;
}
.body .boxes .box ul li.langage-python svg {
  color:orange;
}

.body .boxes .box img {
  width:100%;
  height:100%;
}


.body2 {
  background-color:rgba(240, 240, 240, 0.5);
  padding-top:15%;
  padding-bottom:15%;
}

.body2 .content-title {
  margin: 0 15%;
  padding:5%;
}

.body2 .two-sides {
  text-align:center;
  margin: 0 15%;
  font-size:16px;
  display:flex;
  flex-flow:row wrap;
}

.body2 .two-sides div {
  flex:1 0 20%;
  background-color:white;
  padding:5%;
  color:#666666;
}

.body2 .two-sides div:nth-child(1) {
  border-right:1px solid #d8d8d8;
}
.body2 .two-sides div:nth-child(2) {
  border-left:1px solid #d8d8d8;
}

.body3 {
  background-color:rgba(0, 0, 0, 0.3);
  padding-bottom:15%;
}

.body3 .content-title, .body3 .two-sides div {
  background:rgba(0, 0, 0, 0.3);
  color:white;
}


.image-scroll {
  transition: transform 2s .25s cubic-bezier(0,1,.3,1),
              opacity 2s .25s ease-out;
}

.image-scroll-visible {
  opacity:1;
}


.image-scroll-invisible {
  opacity:0;
}





div#outoffrise {
  background-color:rgba(240, 240, 240, 0.5);
  padding-bottom:50px;
}

div#outoffrise .content-title {
  color:#ecab9e;
  text-align:center;
  margin: 0 10%;
	padding: 1% 1% 0 1%;
	background-color: white;
  font-size:35px;
}

div#outoffrise .content-title > img {
  display:block;
  margin:auto;
  width:40px;
  border:2px solid #ecab9e;
  border-radius:50%;
}

div#frise {
  position:relative;
  width:80%; /* 100% ? */
  margin:0 auto;
  color:#52505e;
  overflow:hidden;
  background:white;
  padding:2%;
}


div#frise > div::before {
  content:"";
  position:absolute;
  z-index:1;
  left:50%;
  transform:translate(-50%, 0);
  width:15px;
  height:15px;
  background:#ecab9e;
  border-radius:50%;
  background: rgb(244,200,191);
  background: linear-gradient(180deg, rgba(244,200,191,1) 0%, rgba(236,171,158,1) 50%, rgba(244,200,191,1) 100%);
}

div#frise > div > div::before {
  content:"";
  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50%, 0);
  width:5px;
  height:100%;
  background:#fde7e1;
  background: rgb(244,200,191);
  background: linear-gradient(180deg, rgba(244,200,191,1) 0%, rgba(236,171,158,1) 50%, rgba(244,200,191,1) 100%);
}


div#frise div h2 svg {
  margin-right:7px;
}

div#frise div .time {
  color:#ecab9e;
}

div#frise div .year {
  color:#ecab9e;
  font-size:25px;
  margin:0;
}

div#frise > div.element > div.inside > div.content {
  padding-bottom:2%;
  padding-top:5%;
  transition:all 0.5s ease;
}

div#frise div.element {
  margin-top:3%;
}

div#frise div.element:nth-child(odd) .timeline-invisible {
  transform:translate(-1000px);
}
div#frise div.element:nth-child(even) .timeline-invisible {
  transform:translate(1000px);
}

div#frise div.element:nth-child(odd) .timeline-visible {
  transform:translateX(0);
}
div#frise div.element:nth-child(even) .timeline-visible {
  transform:translateX(0);
}

div#frise div.element:nth-child(even) {
  margin-right:5%;
  margin-left:55%;
}
div#frise div.element:nth-child(odd) .time {
  text-align:right;
}
div#frise div.element:nth-child(odd) {
  margin-left:5%;
  margin-right:55%;
}

div#frise div.element img {
  border-radius:5px;
  border:2px solid #eeb2a6;
  position:absolute;
  max-width:500px;
  max-height:350px;
  left:-10px;
}


@media (max-width: 800px) {
  div.welcome-image {
    background-image:none;
    background-color:#ffbeb6;
  }
  .body .content-title {
      margin:0 0px;
    }
  
    .body2 .content-title {
      margin:0 0px;
    }
  
  .body2 .two-sides {
    margin:0 0px;
  }
  div#outoffrise .content-title {
    margin:0 0px;
  }
  
  div#frise {
    width:100%;
  }
  
  div#frise h2 {
    font-size:20px;
  }
  
  div#frise .descr {
    font-size:15px;
  }
}